.the_purpose_driven_life_toc {

  .article-img-wrapper {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    .rick-warren-photo {
      margin: 0 20%;
      width: 60%;
      height: 60%;
    }

    .caption {
      margin: 1em 0;
      letter-spacing: 0;
      line-height: 1.5em;
      text-align: left;
      text-align: justify;
      color: gray;
    }

  }

  /* .tpdf-h1 {
  margin: 1em 0;
  font-size: 20px;
  padding: 5px;
  background: #3a3a3a;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
} */
  .script {
    color: #e45b1b;
  }

  .script p.sp-verse {
    color: #999999;
  }

  .topic {
    margin: 2rem auto;

    .topic-title {
      color: #494949d6;
      text-align: center;
      margin: 3rem auto 2rem;

      .lonely {
        font-size: 2.5rem;
        letter-spacing: 1rem;
      }

      >.up {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 18px;
        margin-bottom: 1rem;
      }

      >.down {
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          font-size: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          color: #494949d6;
          width: 6rem;
          height: 6rem;
          border-radius: 15%;
          font-style: italic;
          margin-left: 4vw;
          box-shadow: #bababa85 0px 8px 14px;
          border: double 8px transparent;
          border-radius: 20px;
          background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f69ec4, #32557f);
          background-origin: border-box;
          background-clip: content-box, border-box;

        }

        .right {
          text-align: left;
          width: calc(100% - 35vw);
          display: flex;
          flex-direction: column;
          justify-content: center;

          .up {
            font-size: 2.5rem;
            line-height: 1.2;
            letter-spacing: 5px;
          }

          .down {
            line-height: 2;
          }
        }
      }
    }
  }


  .center {
    margin: 0.5em;
    text-align: center;
    margin-bottom: 1em;

    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .fs-18 {
    font-size: 18px;
    letter-spacing: 1px;
  }

  .fs-19 {
    font-size: 19px;
  }

  .italic {
    font-style: italic;
  }

  .chapter {
    margin: 7px 0;
    align-items: center;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    color: #565555;
    display: inline-flex;
    gap: 0.5rem;
    justify-content: space-between;
    height: 48px;
    line-height: 1;
    padding-left: 8px;
    padding-right: 16px;
    position: relative;
    font-size: 18px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    span {
      color: #3a3a3a;
    }

    .fas {
      color: #595858;
      margin: auto 0.5rem;
    }

    span:nth-child(1) {
      color: #494949;
    }
    span:nth-child(2) {
      color: #06965a;
      /* text-shadow: 1px 1px 4px #9d9a9a8c; */
    }

    &:hover {
      box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;
    }

    &:focus {
      box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;
    }

    &:active {
      box-shadow: rgba(149, 157, 165, .2) 0px 8px 24px;
      transform: translateY(2px);
    }

    a {
      color: #3a3a3a
    }

  }


  p.sp-verse,
  .sp-verse {
    color: #999999;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .right {
    text-align: right;
  }
}

.post-title {
  text-align: center;
  letter-spacing: 0.4rem;
}
