$old-testament-bg-color: #515152;
$new-testament-bg-color: #c33c3c;

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2),
      0 0 0 1.5rem rgba(255, 255, 255, 0.2),
      0 0 0 5rem rgba(255, 255, 255, 0.2);
  }

  100% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2),
      0 0 0 4rem rgba(255, 255, 255, 0.2),
      0 0 0 8rem rgba(255, 255, 255, 0);
  }
}

.bible-reading {

  //目录部分
  .toc {
    display: flex;
    justify-content: space-between;

    >div {
      width: 45%;
    }

    .title {
      color: #fff;
      text-align: center;
      padding: 3px 0;
    }

    .old-testament {
      .title {
        background: $old-testament-bg-color;
      }
    }

    .new-testament {
      .title {
        background: $new-testament-bg-color;
      }
    }

    a {
      display: block;
    }


  }


  .audios {
    .old {
      .book-title {
        background: $old-testament-bg-color;

      }

      div.audio {
        background: rgba($old-testament-bg-color, 0.9);
      }

      div.audio.dancing {
        background-color: $new-testament-bg-color;
      }
    }

    .new {
      .book-title {
        background: $new-testament-bg-color;
      }

      div.audio {
        background: rgba($new-testament-bg-color, 0.9);
      }

      div.audio.dancing {
        background-color: $old-testament-bg-color;
      }

    }

    //音频部分
    .book-title {
      margin: 1em 0;
      font-size: 20px;
      padding: 5px;
      color: #fff;
      letter-spacing: 2px;
      text-align: center;
    }

    .chapters-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      div.audio {
        margin: 0.5em 0.5em;
        padding: 0.5em;
        line-height: 1.5;
        color: #fff;
        border-radius: 10px;
      }

      div.audio.dancing {
        animation: ripple 2s ease-out infinite normal;
      }


    }

    // .chapters-wrapper::after {
    //   content: "";
    //   flex: auto;
    // }

  }



}