<section class="script-popup">
    <span class="overlay"></span>
    <div class="modal-box">
      <!-- 本章经文 -->
      <div class="scripts">
      {% for item in site.data.the_purpose_driven_life %}
        {% if item.id == page.day %}
          {% for note in item.notes %}
            <div id="{{note.id | prepend: n}}" class="note">
              {% if note.verses %}
                {% for v in note.verses %}
                <div class="script script-cunpss">
                  <span class="content">{{v.content}}</span>
                  <span class="verse">{{v.number}}</span>
                  {% if v.version %}
                  <span class="verse">{{v.version}}</span>
                  {% else %}
                  <span class="verse">和合本</span>
                  {% endif %}
                </div>
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      </div>
      <div class="buttons">
        <button class="copy-btn">复&nbsp;&nbsp;制</button>
        <button class="close-btn">关&nbsp;&nbsp;闭</button>
        <!-- <button>Open File</button> -->
      </div>
    </div>
  </section>