#lyrics-1 {
  position: relative;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  font-size: 17px;
  top: 5%;
}
#lyrics-1 .line {
  min-height: 1.5em;
  color: #d1cece;
}
#lyrics-1 .line.active {
  color: #fff;
  font-size: 1em;
}
#lyrics-1.rabbit-lyrics-mini {
  height: 20em;
  overflow-y: hidden;
}
#lyrics-1.rabbit-lyrics-mini .line {
  display: none;
}
#lyrics-1.rabbit-lyrics-mini .line.active {
  display: inline-block;
}
#lyrics-1.rabbit-lyrics-full {
  height: auto;
  overflow-y: initial;
}
