// .post__head {
//   overflow: hidden;
// }

.post-head-bg-img {
  background: no-repeat center/cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 2s ease-in-out;
  transition: all 1.5s ease-in-out;
}

.post-head-bg-img.active {
  background: no-repeat center/cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


#lyrics-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  font-size: 17px;
}

#lyrics-1 .line {
  min-height: 1.5em;
  color: #d1cece;
  transition: all 0.25s;
  letter-spacing: 4px;
}
#lyrics-1 .line.active {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: 4px;
  text-shadow: 0 0 4px #ffffffab;

}
#lyrics-1.rabbit-lyrics-mini {
  height: 20em;
  overflow-y: hidden;
}
#lyrics-1.rabbit-lyrics-mini .line {
  display: none;
}
#lyrics-1.rabbit-lyrics-mini .line.active {
  display: inline-block;
}
#lyrics-1.rabbit-lyrics-full {
  height: auto;
  overflow-y: initial;
}
