// .post__head {
//   overflow: hidden;
// }

// .post-head-bg-img,
.bg {
  // background: no-repeat center/cover;
  // width: 100%;
  // height: 100%;
  // -webkit-transition: all 2s ease-in-out;
  // transition: all 1.5s ease-in-out;
  // border-radius: 20px;
  // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;

  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.post-head-bg-img.active {
  background: no-repeat center/cover;
  // filter: blur(8px);
  // -webkit-filter: blur(8px);
}


#lyrics-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-y: scroll;
  text-align: center;
  font-size: 17px;
}
::-webkit-scrollbar {
  width: 0;
}

#lyrics-1 .line {
  min-height: 1.5em;
  color: #eae7e7db;
  transition: all 0.25s;
  letter-spacing: 4px;
}
#lyrics-1 .line.active {
  color: #f4f1f1;
  font-size: 18px;
  letter-spacing: 7px;
  text-shadow: 1px 1px 3px #0000006b;
}
#lyrics-1.rabbit-lyrics-mini {
  height: 20em;
  overflow-y: hidden;
}
#lyrics-1.rabbit-lyrics-mini .line {
  display: none;
}
#lyrics-1.rabbit-lyrics-mini .line.active {
  display: inline-block;
}
#lyrics-1.rabbit-lyrics-full {
  height: auto;
  overflow-y: initial;
}
