---
layout: post
---
<div id="v-player">
  <audio id="audio-track" type="audio/mp3" loop preload="meta"></audio>
  <div id="podcast-player">
    <div id="controls">
      <div class="first-part">
        <i id="repeat" class="fas fa-sync-alt"></i>
        <i id="step-backward" class="fas fa-step-backward"></i>
        <i id="play" class="fa fa-play"></i>
        <i id="pause" class="fa fa-pause"></i>
        <i id="step-forward" class="fas fa-step-forward"></i>
        <i id="count-down" class="fas fa-clock"></i>
      </div>
      <div class="second-part">
        <div class="time current">0:00</div>
        <span id='loop-indicator'></span>
        <span id='track-title'></span>
        <span id='count-down-timer'></span>
        <div id="end-time" class="time till-end">0:00</div>
      </div>
      <div class="third-part">
        <div class="progress-bar">
          <div class="default-bar"></div>
          <div class="fill-bar"></div>
          <input type="range" id="seek" value="0" min="0" max="" />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  {% capture bible-reading %}
    {% include _bible-reading.scss %}
  {% endcapture %}
  {{ bible-reading | scssify }}
</style>

<div class="bible-reading">

  <div class="toc">
    <!-- 目录：旧约 -->
    <div class="old-testament">
      <div class="title">旧&nbsp;&nbsp;&nbsp;约</div>
      {% for item in site.data.bible-reading %}
      {% if item.testament == 'old' %}
      <a href="{{item.book_order | prepend: '#'}}"><span>{{item.book_order}}</span><span>{{item.book_name}}</span></a>
      {% endif %}
      {% endfor %}
    </div>

    <!-- 目录：新约 -->
    <div class="new-testament">
      <div class="title">新&nbsp;&nbsp;约</div>
      {% for item in site.data.bible-reading %}
      {% if item.testament == 'new' %}
      <a href="{{item.book_order | prepend: '#'}}"><span>{{item.book_order}}</span><span>{{item.book_name}}</span></a>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- 音频：旧约 -->
  <div class="audios">
    {% for item in site.data.bible-reading %}
      <div class="{{item.testament}}">
        <div class="book-title" id="{{item.book_order}}">{{item.book_name}}</div>
        <div class="chapters-wrapper">
          {% for i in (1..item.chapter_count) %}
          {% if i < 10 %} {% assign idx=i | prepend: '0' %} {% else %} {% assign idx=i %} {% endif %} 
          <div
            class="audio bible-audio hymn" 
            data-title="{{ item.book_name | append: idx }}"
            data-file="wg/bible_reading/audio/{{item.book_order | append: item.book_name}}/{{item.book_name | append: idx}}.mp3">
            <i class="fas fa-book-alt" style="display: none;"></i>{{ idx }}
          </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

</div>

<br>
<div class="tips">
  <a class="hz" href="/hymns">以往赞美汇总</a>
  <a class="zd" href="/images/player-instrction.jpg">播放器用法指导</a>
  如果发现<span class="tip">音频经常意外停止</span>（比如当锁屏后），可<span class="tip">使用浏览器打开</span>此页面，通常能完全解决此问题。
</div>

{{ content }}