<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<style>
  {% capture disciple_lesson %}
    {% include _disciple_lesson.scss %}
  {% endcapture %}
  {{ disciple_lesson | scssify }}
  </style>

<body>

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">

    <div class="container">
      <div class="post-title-box">
        <div class="row">
          <div class="col col-10 col-12 push-t-1 col-m-12 push-m-0">
            <p style="text-align: right;"><span class="post-serial">{{ page.serial | escape }}</span></p>
            <h1 class="post-title">{{ page.title | escape }}</h1>
          </div>
        </div>
      </div>

    </div>


    <div class="container">
      <div class="row">
        <!-- begin post -->
        <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">

          <div class="post__content">
            {{ content }}
          </div>

          <div class="slogan-wrapper-1">
            <div class="slogan-wrapper-2">
              <div class="slogan">
                <span>上</span>
                <span>帝</span>
                <span>让</span>
                <span>你</span>
                <span>成</span>
                <span>为</span>
                <span>创</span>
                <span>造</span>
                <span>故</span>
                <span>事</span>
                <span>的</span>
                <span>主</span>
                <span>人</span>
                <span>公</span>
                <span>！</span>
              </div>
            </div>
          </div>

        <div class="dls">
          <a class="dla" href="/disciple_lessons_S01/E01">01 序论——门徒训练</a>
          <a class="dla" href="/disciple_lessons_S01/E02">02 上帝的爱和人的罪</a>
          <a class="dla" href="/disciple_lessons_S01/E03">03 悔改与相信</a>
          <a class="dla" href="/disciple_lessons_S01/E04">04 重生与救恩</a>
          <a class="dla" href="/disciple_lessons_S01/E05">05 基督徒的生活</a>
          <a class="dla" href="/disciple_lessons_S01/E06">06 圣经与上帝</a>
          <a class="dla" href="/disciple_lessons_S01/E07">07 耶稣与圣灵</a>
        </div>

        </article>
        <!-- end post -->
      </div>
    </div>

    <div class="container">
      <div class="post__navigation"></div>
    </div>
  </main>
  <!-- end content -->

  <div class="top" title="Top"></div>

  {% include search.html %}

  {% include footer.html %}

  {% include javascripts.html %}
</body>

</html>