---
layout: default
---
<div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">

      <div style="font-size: 19px; letter-spacing: 1px; line-height: 0.8rem; text-align: center;">
        <div class="post-title-box" style="padding: 0; border:none;">
          {% if page.image %}
            <div id="post__head" class="post__head" style="margin: 0">
            <img style="margin: 0;" src="{{ site.os_url }}wg/images/hymn/{{page.image}}" alt="">
            </div>
          {% endif %}
        </div>

        <h1 class="post-title" style="margin: 1rem 0; letter-spacing: 4px;">{{page.title}}</h1>

        <audio controls loop autoplay id="old-player" style='width: 100%;' preload="auto">   
          <source src="{{ site.os_url }}{{page.filename}}" type="audio/mpeg">   
        </audio>
        {{ content }}
      </div>

      {% if page.no-slogan%}
      {% else %}
      <div class="slogan-wrapper-1"> 
        <div class="slogan-wrapper-2">
          <div class="slogan">
            <span>上</span>
            <span>帝</span>
            <span>让</span>
            <span>你</span>
            <span>成</span>
            <span>为</span>
            <span>创</span>
            <span>造</span>
            <span>故</span>
            <span>事</span>
            <span>的</span>
            <span>主</span>
            <span>人</span>
            <span>公</span>
            <span>！</span>
          </div>
        </div>
      </div>
      {% endif %}

    </article>
    <!-- end post -->
    </div>
  </div>
