<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<style>
  .movie .post-title-box .post-title {
    padding: 1rem 0;
  }

  .movie h2 {
    color: transparent;
  }

  .movie h3 {
    background: rgb(34, 193, 195);
    background: linear-gradient(94deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    text-align: center;
    color: #fff;
  }

  .movie .poem {
    white-space: nowrap;
    overflow-x: scroll;
  }

  .movie .row,
  .movie .poem p {
    margin: 0;
  }

  .center {
    text-align: center;
  }
</style>

<body>

  {% include header.html %}

  <!-- begin content -->
  <main class="content movie" aria-label="Content">
    <div class="container" style="padding: 0;">
      <div class="post-title-box">
        <div class="row">
          <div class="col col-10 col-12 push-t-1 col-m-12 push-m-0">
            <p class="post-serial">主内影片</p>
            <h1 class="post-title">{{ page.title | escape }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <!-- begin post -->
        <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">
          <div class="post__content">
            {{ content }}
          </div>

          <div class="slogan-wrapper-1">
            <div class="slogan-wrapper-2">
              <div class="slogan">
                <span>上</span> <span>帝</span> <span>让</span> <span>你</span>
                <span>成</span> <span>为</span> <span>创</span> <span>造</span>
                <span>故</span> <span>事</span> <span>的</span> <span>主</span>
                <span>人</span> <span>公</span> <span>！</span>
              </div>
            </div>
          </div>

        </article>
        <!-- end post -->
      </div>
    </div>

    <div class="container">
      <div class="post__navigation"></div>
    </div>
  </main>
  <!-- end content -->

  <div class="top ion ion-ios-arrow-up " title="Top"></div>

  {% include search.html %}
  {% include footer.html %}
  {% include javascripts.html %}

</body>

</html>