---
layout: default
---
<div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">

      <div style="font-size: 18px; line-height: 0.8rem; text-align: center;">
        <div class="post-title-box" style="padding: 0; border:none;">
          <h1 class="post-title">{{page.title}}</h1>
          {% if page.image %}
            <div class="post__head" style="margin: 0">
            <img style="margin: 0;" src="https://typora-1259024198.cos.ap-beijing.myqcloud.com/wg-img/song/{{page.image}}" alt="">
            </div>
          {% endif %}
        </div>

        <audio controls id="old-player" style='width: 100%; display: none;' preload="auto">   
          <source src="https://typora-1259024198.cos.ap-beijing.myqcloud.com/{{page.filename}}" type="audio/mpeg">   
        </audio>
        {{ content }}
      </div>

      {% if page.no-slogan%}
      {% else %}
      <div class="slogan-wrapper-1"> 
        <div class="slogan-wrapper-2">
          <div class="slogan">
            <span>上</span>
            <span>帝</span>
            <span>让</span>
            <span>你</span>
            <span>成</span>
            <span>为</span>
            <span>创</span>
            <span>造</span>
            <span>故</span>
            <span>事</span>
            <span>的</span>
            <span>主</span>
            <span>人</span>
            <span>公</span>
            <span>！</span>
          </div>
        </div>
      </div>
      {% endif %}

    </article>
    <!-- end post -->
    </div>
  </div>
