---
layout: post
---
{% if page.permalink == '/ulog' %}
{% elsif page.preach or page.hymns or page.permalink == '/baptism_lessons' or page.permalink == '/disciple_lessons/s1' or page.permalink == '/disciple_training/s1/2023/spring' %}
<div id="v-player">
  <audio id="audio-track" type="audio/mp3" loop preload="meta"></audio>
  <div id="podcast-player">
    <div id="controls">
      <div class="first-part">
        <i id="repeat" class="fas fa-sync-alt"></i>
        {% if page.permalink == '/hymns' or page.permalink == '/hymns_en' %}
        <i id="step-backward" class="fas fa-step-backward"></i>
        {% else %}
        <i id="prev-15" class="fas fa-undo-alt"></i>
        {% endif %}
        <i id="play" class="fa fa-play"></i>
        <i id="pause" class="fa fa-pause"></i>
        {% if page.permalink == '/hymns' or page.permalink == '/hymns_en' %}
        <i id="step-forward" class="fas fa-step-forward"></i>
        {% else %}
        <i id="next-15" class="fas fa-redo-alt"></i>
        {% endif %}
        <i id="count-down" class="fas fa-clock"></i>
      </div>
      <div class="second-part">
        <div class="time current">0:00</div>
        <span id='loop-indicator'></span>
        <span id='track-title'></span>
        <span id='count-down-timer'></span>
        <div id="end-time" class="time till-end">0:00</div>
      </div>
      <div class="third-part">
        <div class="progress-bar">
          <div class="default-bar"></div>
          <div class="fill-bar"></div>
          <input type="range" id="seek" value="0" min="0" max="" />
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<audio controls id="old-player" style='width: 100%;' preload="auto">   
  <source src="{{ site.os_url }}/wg/audios/teaching/{{page.date | date: '%Y-%m-%d'}}.mp3" type="audio/mpeg">   
</audio>
{% endif %}

{% if page.permalink == '/hymns' or page.permalink == '/hymns_en' %}
<div id="hymn-searching-tool">
  <input id="search-box" type="text" placeholder="搜索">
  <div class="results-container">
    <ul class="results-list" id="list"></ul>
  </div>
</div>
{% endif %}

<!-- 证道录音 -->
{% if page.preach %}
  {% if page.image %}
    {% assign preachImg = page.image %}
  {% else %}
    {% assign preachImg = page.date | date: '%Y-%m-%d' | append: '.jpg' | prepend: 'wg/images/teaching/' %}
  {% endif %}
  {% if page.audio %}
    {% assign audio = page.audio %}
  {% else %}
    {% assign audio = page.date | date: '%Y-%m-%d' | append: '.mp3' | prepend: '/wg/audios/teaching/' %}
  {% endif %}
  {% if page.audioTitle %}
    {% assign audioTitle = page.audioTitle %}
  {% else %}
    {% assign audioTitle = '证道录音' %}
  {% endif %}
  <div id="teachingAudio" class="audio teaching bars" 
      data-title="{{ audioTitle }}"
      data-image="{{ preachImg }}"
      data-file="{{ audio }}"><i class="fas fa-dove"></i>《{{ audioTitle }}》
    <!-- <span class="bar n1"></span><span class="bar n2"></span><span class="bar n3"></span><span class="bar n4"></span> -->
  </div><br>
{% endif %}

<!-- 主日赞美 及 赞美诗汇总 -->
{% if page.hymns %}
  {% for id in page.hymns %}
    {% if page.permalink == "/hymns_en" %}
      <!-- 英文赞美 -->
      {% assign hymns = site.data.hymn_en %}
    {% else %}
      <!-- 中文赞美 -->
      {% assign hymns = site.data.hymn_zh %}
    {% endif %}

    {% for item in hymns %}
      {% if item.id == id or page.permalink == "/hymns" or page.permalink == "/hymns_en" %}
        {% assign fileName = "lyrics_" | append: item.id %}
        {% assign lyrics = site.data[fileName].lyrics %}
        {% if lyrics != null and lyrics != "" %}
          <!-- 当前歌曲有同步歌词时；随机使用为同步字幕准备的背景图片 -->
          {% assign lsize = site.data.lyrics_bg_schemes.size | minus: 1 %}
          {% assign bgSchemeIdx = forloop.index | modulo: lsize %}
          {% assign bgScheme = site.data.lyrics_bg_schemes[bgSchemeIdx] %}
          {% assign bgImg = "wg/images/hymn/" | append: bgScheme.image %}
        {% else %}
            <!-- 当前歌曲没有同步歌词时 -->
            {% if page.image != null and page.image != "" %}
              <!-- 使用 frontier 中制定的图片 -->
              {% assign bgImg = page.image %}
            {% else %}
              <!-- 使用当前日期.jpg -->
              {% assign bgImg = page.date | date: '%Y-%m-%d' | prepend: "wg/images/teaching/" | append: ".jpg"  %}
            {% endif %}
        {% endif %}

        <div class="audio hymn bars" 
             data-lyrics="{{ lyrics }}" 
             data-title="{{ item.title }}"
             data-file="/wg/audios/hymn/{{ item.file }}" 
             data-image="{{ bgImg }}" 
             data-video="{{ item.video | url_encode }}"
             data-singer="{{ item.singer }}">{% if page.permalink == '/baptism_lessons' %}<i class="fas fa-star-of-david"></i>{% else %}<i class="fas fa-fish"></i>{% endif %}{% if page.permalink != "/hymns_en" %}《{% else %}{{" "}}{% endif %}{{ item.title }}{% if item.singer %}<span class="singer"> / {{ item.singer }}</span>{% endif %}{% if page.permalink != "/hymns_en" %}》{% endif %}
          {% if item.video %}
          <span class="video-btn" style="cursor: pointer; margin-right: 5px;" data-url="{{ item.video | url_encode }}"><i class="fa fa-video" aria-hidden="true"></i></span>
          {% endif %}
          {% if item.video_en %}
          <span class="video-btn" style="cursor: pointer; margin-right: 5px; color: #979797;" data-url="{{ item.video_en | url_encode }}"><i class="fas fa-video"></i></span>
          {% endif %}
          {% if item.video_lyrics %}
          <span class="video-btn" style="cursor: pointer; margin-right: 5px;" data-url="{{ item.video_lyrics | url_encode }}"><i class="fas fa-film"></i></span>
          {% endif %} 
          <!-- <span class="bar n1"></span><span class="bar n2"></span><span class="bar n3"></span><span class="bar n4"></span> -->
        </div><br>
      {% endif %}
    {% endfor %}
  {% endfor %}

  <div class="tips">
    {% if page.permalink != "/hymns" %}
    <a class="hz" href="/hymns">以往赞美汇总</a>
    {% endif %}
    <a class="zd" href="/images/player-instrction.jpg">播放器用法指导</a>如果发现<span class="tip">音频经常意外停止</span>（比如当锁屏后），可<span
      class="tip">使用浏览器打开</span>此页面，通常能完全解决此问题。
  </div><br />
{% endif %}

<!-- 洗礼课 -->
{% if page.permalink == "/baptism_lessons" %}
  {% for item in site.data.baptism_lessons %} 
    <div class="audio hymn bars" data-title="{{ item.title }}" data-file="wg/audios/baptism_lesson/{{ item.file }}" data-image="{{hymnImg}}">{% if page.permalink == '/baptism_lessons' %}<i class="fas fa-star-of-david"></i>{% else %}<i class="fas fa-fish"></i>{% endif %}《{{ item.title }}{% if item.singer %}<span class="singer"> / {{ item.singer }}</span>{% endif %}》
      <!-- <span class="bar n1"></span><span class="bar n2"></span><span class="bar n3"></span><span class="bar n4"></span> -->
    </div><br>
  {% endfor %}
  <div class="tips">
    <a class="hz" href="/hymns">以往赞美汇总</a>
    <a class="zd" href="/images/player-instrction.jpg">播放器用法指导</a>
    如果发现<span class="tip">音频经常意外停止</span>（比如当锁屏后），可<span class="tip">使用浏览器打开</span>此页面，通常能完全解决此问题。
  </div><br />
{% endif %}

<!-- 门训课 -->
{% if page.permalink == "/disciple_lessons/s1" %}
  {% for item in site.data.disciple_lessons %} 
    <div class="audio hymn bars" data-title="{{ item.title }}" data-file="wg/audios/disciple_lessons/{{ item.file }}" data-image="{{hymnImg}}"><i class="fas fa-star"></i>《{{ item.title }}》
      {% if item.doc %}
        <a href="{{ item.doc }}"><i class="fas fa-file-alt" style="padding: 0 0.5em;"></i></a>
      {% endif %}
      <!-- <span class="bar n1"></span><span class="bar n2"></span><span class="bar n3"></span><span class="bar n4"></span> -->
    </div><br>
  {% endfor %}
  <div class="tips">
    <a class="hz" href="/hymns">以往赞美汇总</a>
    <a class="zd" href="/images/player-instrction.jpg">播放器用法指导</a>
    如果发现<span class="tip">音频经常意外停止</span>（比如当锁屏后），可<span class="tip">使用浏览器打开</span>此页面，通常能完全解决此问题。
  </div><br />
{% endif %}

<!-- 门训课 -->
{% if page.permalink == "/disciple_training/s1/2023/spring" %}
  {% for item in site.data.disciple_training_s1_2023_spring %} 
    <div class="audio hymn bars" data-title="{{ item.title }}" data-file="wg/audios/disciple_lessons/s1/2023_spring/{{ item.file }}" data-image="{{hymnImg}}"><i class="fas fa-star"></i>《{{ item.title }}》
      {% if item.doc %}
        <a href="{{ item.doc }}"><i class="fas fa-file-alt" style="padding: 0 0.5em;"></i></a>
      {% endif %}
      <!-- <span class="bar n1"></span><span class="bar n2"></span><span class="bar n3"></span><span class="bar n4"></span> -->
    </div><br>
  {% endfor %}
  <div class="tips">
    <a class="hz" href="/hymns">以往赞美汇总</a>
    <a class="zd" href="/images/player-instrction.jpg">播放器用法指导</a>
    如果发现<span class="tip">音频经常意外停止</span>（比如当锁屏后），可<span class="tip">使用浏览器打开</span>此页面，通常能完全解决此问题。
  </div><br />
{% endif %}

{{ content }}
