---
layout: post
---
<!-- <div id="v-player">
  <audio id="audio-track" type="audio/mp3" loop preload="meta"></audio>
  <div id="podcast-player">
    <div id="controls">
      <div class="first-part">
        <i id="repeat" class="fas fa-sync-alt"></i>
        <i id="prev-15" class="fas fa-undo-alt"></i>
        <i id="play" class="fa fa-play"></i>
        <i id="pause" class="fa fa-pause"></i>
        <i id="next-15" class="fas fa-redo-alt"></i>
        <i id="count-down" class="fas fa-clock"></i>
      </div>
      <div class="second-part">
        <div class="time current">0:00</div>
        <span id='loop-indicator'></span>
        <span id='track-title'></span>
        <span id='count-down-timer'></span>
        <div id="end-time" class="time till-end">0:00</div>
      </div>
      <div class="third-part">
        <div class="progress-bar">
          <div class="default-bar"></div>
          <div class="fill-bar"></div>
          <input type="range" id="seek" value="0" min="0" max="" />
        </div>
      </div>
    </div>
  </div>
</div> -->

<style>
a {
  color: #0c4fa4;
  margin-left: 0.5em !important;
}

.tpdc-h1{
  margin: 1em 0;
  font-size: 20px;
  padding: 5px;
  background: #3a3a3a;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.center {
  margin: 0.5em;
  text-align: center;
}

.fs-18{
  font-size: 18px;
}

.italic {
  font-style: italic;
}
.center p{
  margin-bottom: 0;
  font-size: 18px;
}

.chapter {
  font-size: 18px;
}
.chapter a {
  color: #3a3a3a
}

.sp-verse {
  color: #878787;
  font-size: 16px;
  letter-spacing: 1px;
}

</style>
{{ content }}
<br>