---
layout: post
---
<div class="the_purpose_driven_life_toc">

  <div class="center fs-18 ">
    <p>我不是以为自己已经得着了</p>
    <p>我只有一件事，就是</p>
    <p>忘记背后，努力面前的，向着标竿直跑</p>
    <p>要得神在基督耶稣里</p>
    <p>从上面召我来得的奖赏</p>
    <p class="sp-verse">腓立比书 三 13-14</p>
  </div>
  <div class="topic">
    <div class="topic-title">
      <div class="lonely">序言</div>
    </div>
    <div class="article-img-wrapper">
      <img class="rick-warren-photo"
        src="https://typora-1259024198.cos.ap-beijing.myqcloud.com/wg/the_purpose_driven_life/image/Rick_Warren.jpg">
      <p class="caption">华理克，Rick Warren，本书作者，1954 年生于美国加州圣荷西，是有着 23,000 名教友的加州马鞍峰教会创会牧师。</p>
    </div>
    <a class="chapter" href="/the_purpose_driven_life/preface">
      <i class="fas fa-book"></i><span style="color: #06965a;">中文版序</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/getting_the_most">
      <i class="fas fa-book"></i><span style="color: #06965a;">如何善用此书</span>
    </a>
  </div>


  <div class="topic">
    <div class="topic-title">
      <div class="down">
        <div class="left" style="font-style: normal;">G</div>
        <div class="right">
          <div class="up">我究竟</div>
          <div class="down">
            <span>为</span>
            <span>何</span>
            <span>而</span>
            <span>活</span>
            <span>？</span>
          </div>
        </div>
      </div>
    </div>
    <div class="center fs-18 ">
      <p>只管追求外物的人生，</p>
      <p>是虽生犹死的人生，</p>
      <p>是一根无叶的枯树。</p>
      <p>神所塑造的人生，</P>
      <p>却是一棵茁壮茂盛的树。</P>
      <p class="sp-verse">箴言 十一 28</p>
    </div>
    <div class="center fs-18 ">
      <p>信靠主的人有福了……他们像</p>
      <p>沿着河岸裁种的树，树根直伸入河里;</p>
      <p>不被炎热所困，不被荒旱所扰，</P>
      <p>叶子常青，还累累结出津美的果子。</p>
      <p class="sp-verse">耶利米书 十七 7-8</p>
    </div>
    <a class="chapter" href="/the_purpose_driven_life/day01">
      <span><i class="fas fa-book"></i>第 01 天</span><span>万物皆由神开始</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day02">
      <span><i class="fas fa-book"></i>第 02 天</span><span>你的存在绝非偶然</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day03">
      <span><i class="fas fa-book"></i>第 03 天</span><span>什么在主导你的人生</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day04">
      <span><i class="fas fa-book"></i>第 04 天</span><span>为永恒而被造</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day05">
      <span><i class="fas fa-book"></i>第 05 天</span><span>从神的观点看人生</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day06">
      <span><i class="fas fa-book"></i>第 06 天</span><span>人生是一项暂时性的任务</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day07">
      <span><i class="fas fa-book"></i>第 07 天</span><span>所有一切的缘由</span>
    </a>
  </div>


  <div class="topic">
    <div class="topic-title">
      <div class="up">人/生/目/的</div>
      <div class="down">
        <div class="left">1</div>
        <div class="right">
          <div class="up">神已计划</div>
          <div class="down">
            <span>要</span>
            <span>你</span>
            <span>为</span>
            <span>讨</span>
            <span>他</span>
            <span>喜</span>
            <span>悦</span>
            <span>而</span>
            <span>活</span>
          </div>
        </div>
      </div>
    </div>
    <div class="center fs-18 ">
      <p>他们必称为公义的橡树，</p>
      <p>是耶和华栽种的，</p>
      <p>好使他自己得着荣耀。</p>
      <p class="sp-verse">以赛亚书六十一章 3 节</p>
    </div>
    <a class="chapter" href="/the_purpose_driven_life/day08">
      <span><i class="fas fa-book"></i>第 08 天</span><span>被造是为讨神喜悦</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day09">
      <span><i class="fas fa-book"></i>第 09 天</span><span>什么事令神欢喜</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day10">
      <span><i class="fas fa-book"></i>第 10 天</span><span>敬拜的中心</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day11">
      <span><i class="fas fa-book"></i>第 11 天</span><span>成为神的挚友</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day12">
      <span><i class="fas fa-book"></i>第 12 天</span><span>与神建立深厚的友谊</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/day12">
      <span><i class="fas fa-book"></i>第 13 天</span><span>讨神喜悦的敬拜</span>
    </a>
  </div>



  <div class="topic">
    <div class="topic-title">
      <div class="lonely">附录</div>
    </div>
    <a class="chapter" href="/the_purpose_driven_life/appendix_1">
      <span><i class="fas fa-book"></i>附录 1</span><span>问题讨论</span>
    </a>
    <a class="chapter" href="/the_purpose_driven_life/appendix_3">
      <span><i class="fas fa-book"></i>附录 3</span><span>为何使用许多圣经译本</span>
    </a>
  </div>

</div>